In [1]:
import pandas as pd
import seaborn as sns
dt=pd.read_csv('/home/hariharan/Downloads/AQI and Lat Long of Countries.csv')
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16695 non-null  object
 2   AQI Value           16695 non-null  int64
 3   AQI Category        16695 non-null  object
 4   CO AQI Value        16695 non-null  int64
 5   CO AQI Category     16695 non-null  object
 6   Ozone AQI Value     16695 non-null  int64
 7   Ozone AQI Category  16695 non-null  object
 8   NO2 AQI Value       16695 non-null  int64
 9   NO2 AQI Category    16695 non-null  object
 10  PM2.5 AQI Value     16695 non-null  int64
 11  PM2.5 AQI Category  16695 non-null  object
 12  lat                 16695 non-null  float64
 13  lng                 16695 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.8+ MB

In [2]:
col=['lat','lng','Country','City']
dt.drop(columns=col,axis=1,inplace=True)
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AQI Value           16695 non-null  int64
 1   AQI Category        16695 non-null  object
 2   CO AQI Value        16695 non-null  int64
 3   CO AQI Category     16695 non-null  object
 4   Ozone AQI Value     16695 non-null  int64
 5   Ozone AQI Category  16695 non-null  object
 6   NO2 AQI Value       16695 non-null  int64
 7   NO2 AQI Category    16695 non-null  object
 8   PM2.5 AQI Value     16695 non-null  int64
 9   PM2.5 AQI Category  16695 non-null  object
dtypes: int64(5), object(5)
memory usage: 1.3+ MB

In [3]:
dt

,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,41,Good,1,Good,5,Good,1,Good,41,Good
2,41,Good,1,Good,5,Good,1,Good,41,Good
3,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
4,34,Good,1,Good,34,Good,0,Good,20,Good
...,...,...,...,...,...,...,...,...,...,...
16690,54,Moderate,1,Good,34,Good,5,Good,54,Moderate
16691,71,Moderate,1,Good,39,Good,1,Good,71,Moderate
16692,71,Moderate,1,Good,39,Good,1,Good,71,Moderate
16693,50,Good,1,Good,20,Good,5,Good,50,Good
16694,71,Moderate,1,Good,44,Good,2,Good,71,Moderate

In [4]:
dt.isna().sum()

AQI Value             0
AQI Category          0
CO AQI Value          0
CO AQI Category       0
Ozone AQI Value       0
Ozone AQI Category    0
NO2 AQI Value         0
NO2 AQI Category      0
PM2.5 AQI Value       0
PM2.5 AQI Category    0
dtype: int64

In [5]:
dt.dropna(inplace=True)
dt.isna().sum()

AQI Value             0
AQI Category          0
CO AQI Value          0
CO AQI Category       0
Ozone AQI Value       0
Ozone AQI Category    0
NO2 AQI Value         0
NO2 AQI Category      0
PM2.5 AQI Value       0
PM2.5 AQI Category    0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
co=LabelEncoder()
o3=LabelEncoder()
no2=LabelEncoder()
pm=LabelEncoder()
aq=LabelEncoder()

In [7]:
dt['AQI Category']=aq.fit_transform(dt['AQI Category'])
dt['CO AQI Category']=co.fit_transform(dt['AQI Category'])
dt['Ozone AQI Category']=o3.fit_transform(dt['AQI Category'])
dt['NO2 AQI Category']=no2.fit_transform(dt['AQI Category'])
dt['PM2.5 AQI Category']=pm.fit_transform(dt['AQI Category'])

In [8]:
dt

,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,51,2,1,2,36,2,0,2,51,2
1,41,0,1,0,5,0,1,0,41,0
2,41,0,1,0,5,0,1,0,41,0
3,66,2,1,2,39,2,2,2,66,2
4,34,0,1,0,34,0,0,0,20,0
...,...,...,...,...,...,...,...,...,...,...
16690,54,2,1,2,34,2,5,2,54,2
16691,71,2,1,2,39,2,1,2,71,2
16692,71,2,1,2,39,2,1,2,71,2
16693,50,0,1,0,20,0,5,0,50,0
16694,71,2,1,2,44,2,2,2,71,2

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x=dt.drop(['AQI Value','AQI Category','PM2.5 AQI Value','PM2.5 AQI Category'],axis='columns')

In [11]:
x

,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category
0,1,2,36,2,0,2
1,1,0,5,0,1,0
2,1,0,5,0,1,0
3,1,2,39,2,2,2
4,1,0,34,0,0,0
...,...,...,...,...,...,...
16690,1,2,34,2,5,2
16691,1,2,39,2,1,2
16692,1,2,39,2,1,2
16693,1,0,20,0,5,0
16694,1,2,44,2,2,2

In [12]:
y=dt['AQI Category']

In [13]:
y

0        2
1        0
2        0
3        2
4        0
        ..
16690    2
16691    2
16692    2
16693    0
16694    2
Name: AQI Category, Length: 16695, dtype: int64

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [15]:
x_train.shape

(11686, 6)

In [16]:
x_test.shape

(5009, 6)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
model2=DecisionTreeClassifier()

In [19]:
model2.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
model2.score(x_test,y_test)

1.0

In [23]:
pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pickle as pk

In [27]:
f = open("Model.pkl","wb")
pk.dump(model2,f)
f.close()

In [28]:
f = open("Model.pkl","rb")
model = pk.load(f)
p = model.predict(x_test)
f.close()

In [29]:
p

array([0, 2, 2, ..., 2, 0, 2])